<form class='form'>
    <div class='order'></div>
    <div class='description'></div>
    <div class='amount'></div>
    <div class='tva'></div>
    <div class="content_vertical_padding">
		<button class='btn btn-primary btn-success' type='submit' value='submit'>
			{{ title }}
		</button>
		<button class='btn' type='reset' value='submit'>
			Annuler
		</button>
    </div>
</form>
