<section id="discount_form" class="modal_view size_middle">
    <div role="dialog" id="discount-forms" aria-modal="true" aria-labelledby="discount-forms_title">
        <div class="modal_layout">
            <header>
                <button
                    type='button'
                    class="icon only unstyled close"
                    title="Fermer cette fenêtre"
                    aria-label="Fermer cette fenêtre"
                    >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="discount-forms_title">{{ title }}</h2>
            </header>
            <main>
				{{#if add}}
				<ul class="nav nav-tabs modal-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#main-discount-container"
							aria-controls="main-discount-container"
							role="tab"
							data-toggle="tab">
							Saisie d’un montant
						</a>
					</li>
					<li role="presentation">
						<a href="#percentage-container"
							aria-controls="percentage-container"
							role="tab"
							data-toggle="tab">
							Remise en pourcentage
						</a>
					</li>
				</ul>
				{{/if}}
				<div class='tab-content'>
					<div
						role="tabpanel"
						class="tab-pane fade in active simple-form"
						id="main-discount-container">
					</div>
					<div
						role="tabpanel"
						class="tab-pane percent-form"
						id="percentage-container">
					</div>
				</div>
            </main>
<!--
            <footer>
            </footer>
 -->
        </div>
    </div>
</section>
