<tbody class="lines collapse_title in" aria-expanded="true">
  <tr class="row taskline">
    <td class="level_spacer"></td>
    <td class="col_text description" colspan="2">
      <h4>
        <a
          href="javascript:void(0)"
          data-target="#workitems-{{id}}"
          data-toggle="collapse"
          class="collapse_button {{#unless display_details}}collapsed{{/unless}}"
          aria-expanded="{{#if display_details}}true{{else}}false{{/if}}"
          aria-controls="workitems{{id}}"
          title="Masquer les produits de cet ouvrage"
          aria-label="Masquer les produits de cet ouvrage"
        >
          <svg class="arrow">
            <use href="../static/icons/endi.svg#chevron-down"></use>
          </svg>
          {{title}}
        </a>
      </h4>
      {{#if description}}
        {{{description}}}
      {{/if}}
        <span class="hidden_pdf">
          Cofficient de marge : 
          {{#if margin_rate}}
            {{margin_rate}}
          {{else}}
            Non renseigné
          {{/if}}
        </span>
    </td>
    <td class="col_number hidden_pdf">
      {{#if supplier_ht}}
        {{{supplier_ht}}}
        {{/if}}
    </td>
    <td class="col_number {{#unless display_units}}hidden_pdf{{/unless}}">
      {{{ht}}}
    </td>
    <td class="col_number {{#unless display_units}}hidden_pdf{{/unless}}">
      {{{quantity}}}
    </td>
    <td class="col_text {{#unless display_units}}hidden_pdf{{/unless}}">
      {{{unity}}}
    </td>
    <td class="col_number">
      {{{total_ht}}}
    </td>
    <td class="col_number tva">
      {{#if tva_label}}
        {{{tva_label}}}
        <br />
        <small>
          <span class="hidden_pdf">
            {{{product_label}}}
          </span>
        </small>
      {{/if}}
    </td>
    <td class="col_actions width_two">
      <button
        data-action="work:additem"
        data-id="{{id}}"
        class="btn icon only"
        title="Ajouter un produit à cet ouvrage"
        aria-label="Ajouter un produit à cet ouvrage"
      >
        <svg>
          <use href="../static/icons/endi.svg#plus"></use>
        </svg>
        Ajouter un produit
      </button>
      <div class="btn-group">
        <button
          class="btn icon only dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Afficher plus d’actions"
          aria-label="Afficher plus d’actions"
        >
          <svg>
            <use href="../static/icons/endi.svg#dots"></use>
          </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a
              href="#chapters/{{chapter_id}}/works/{{id}}"
              class="btn icon"
              title="Modifier cet ouvrage"
              aria-label="Modifier cet ouvrage"
            >
              <svg>
                <use href="../static/icons/endi.svg#pen"></use>
              </svg>
              Modifier cet ouvrage
            </a>
          </li>
          <li>
            <button
              data-action="product:duplicate"
              data-id="{{id}}"
              type="button"
              class="btn icon"
              title="Dupliquer cet ouvrage"
              aria-label="Dupliquer cet ouvrage"
            >
              <svg>
                <use href="../static/icons/endi.svg#copy"></use>
              </svg>
              Dupliquer
            </button>
          </li>
          <li>
            <button
              data-action="product:change_details"
              data-id="{{id}}"
              type="button"
              class="btn icon"
              {{#if display_details}}
              title="Masquer le détail de cet ouvrage dans la sortie PDF"
              aria-label="Masquer le détail de cet ouvrage dans la sortie PDF"
              {{else}}
              title="Afficher le détail de cet ouvrage dans la sortie PDF"
              aria-label="Afficher le détail de cet ouvrage dans la sortie PDF"
              {{/if}}
            >
            {{#if display_details}}
              <svg>
                <use href="../static/icons/endi.svg#eye-slash"></use>
              </svg>
              Masquer le détail
              {{else}}
              <svg>
                <use href="../static/icons/endi.svg#eye"></use>
              </svg>
              Afficher le détail
              {{/if}}
            </button>
          </li>
          <li>
            <button
              data-action="product:delete"
              data-id="{{id}}"
              type="button"
              class="btn icon negative"
              title="Supprimer cet ouvrage"
              aria-label="Supprimer cet ouvrage"
            >
              <svg>
                <use href="../static/icons/endi.svg#trash-alt"></use>
              </svg>
              Supprimer
            </button>
          </li>
        </ul>
      </div>
    </td>
    <td class="col_actions row_ordering sort" colspan="2">
      <ul>
        {{#if is_not_first}}
          <li>
            <button
              type="button"
              data-action="product:up"
              data-id={{id}}
              class="btn icon only up"
              title="Déplacer ce produit vers le haut"
              aria-label="Déplacer ce produit vers le haut"
              tabindex="-1"
            >
              <svg>
                <use href="/static/icons/endi.svg#arrow-up"></use>
              </svg>
            </button>
          </li>
        {{/if}}
        {{#if is_not_last}}
          <li>
            <button
              type="button"
              data-action="product:down"
              data-id={{id}}
              class="btn icon only down"
              title="Déplacer ce produit vers le bas"
              aria-label="Déplacer ce produit vers le bas"
              tabindex="-1"
            >
              <svg>
                <use href="/static/icons/endi.svg#arrow-down"></use>
              </svg>
            </button>
          </li>
        {{/if}}
      </ul>
    </td>
  </tr>
</tbody>
<tbody 
  id="workitems-{{id}}" 
  class="collapse_content collapse in" 
  aria-expanded="true"">
  {{{workitemsHtml}}}
</tbody>