{{{label}}}
<a href="#" class="edit-btn btn icon only unstyled" title="Éditer ce fichier" aria-label="Éditer ce fichier">
    <svg><use href="/static/icons/endi.svg#pen"></use></svg>
</a>
<a href="#" class="download-btn btn icon only unstyled" title="Télécharger ce fichier" aria-label="Télécharger ce fichier">
    <svg><use href="/static/icons/endi.svg#download"></use></svg>
</a>
