<section id="status_history_modal" class="modal_view size_small">
    <div role="dialog" id="postit_history" aria-modal="true"
         aria-labelledby="postit_history_title"
         aria-describedby="postit_history_text" class="appear">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close"
                        title="Masquer ce message"
                        type='button'>
                    <svg>
                        <use href="/static/icons/endi.svg#times"></use>
                    </svg>
                </button>
                <h2 id="postit_history_title">
                    Mémos
                    {{#if collectionLength}}
                        <small>({{ collectionLength }})</small>
                    {{/if}}
                </h2>
            </header>
            <main>
                <div class="memos">
                    <ul class="comments"></ul>
                </div>
            </main>
            <footer>
                <button type="reset"
                        onclick="toggleModal('status_history_modal'); return false;"
                        title="Fermer cette fenêtre"
                        aria-label="Fermer cette fenêtre">
                    Fermer
                </button>
            </footer>
        </div>
    </div>
</section>
