<section class="modal_view size_middle">
	<div role="dialog" id="add_memo" aria-modal="true" aria-labelledby="add_memo_title" class="appear">
		<form class="form">
			<div class="modal_layout">
				<header>
					<button class="icon only unstyled close" title="Masquer cette fenêtre" aria-label="Masquer cette fenêtre" type='button'>
						<svg>
							<use href="../static/icons/endi.svg#times"></use>
						</svg>
					</button>
					<h2 id="add_memo_title">
						{{ title }}
					</h2>
				</header>
				<main>
					<div class="layout">				
						<div class="row form-row">
							<div class="field_description col-md-12"></div>
						</div>
						<div class="row form-row">
							<div class="field_visibility col-md-6"></div>
							<div class="field_pinned col-md-6"></div>
						</div>
					</div>
				</main>
				<footer>
					<button class="btn btn-primary" type="submit" value="submit">
						{{ title }}
					</button>
					<button class="btn" type="reset" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
						Fermer
					</button>
				</footer>
			</div>
		</form>
	</div>
</section>
