<div role="dialog" id="expense-forms" aria-modal="true" aria-labelledby="expense-forms_title">
    <form class='form layout'>
        <div class="modal_layout">
            <header>
                <button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="expense-forms_title" class="modal-title">{{ title }}</h2>
            </header>
            <main>
                <div class="modal-body limited_width add_km_expense">
                    <!-- Ah ben c’est nouveau ça. 2 ou 3 types de formulaires bien définis ce serait bien… -->
                    <div class='row'>
                        <div class='category required col-md-12'></div>
                    </div>
                    <div class='row'>
                        <div class='date required col-md-6'></div>
                        <div class='type_id required col-md-6'></div>
                    </div>
                    <div class='description required'></div>
                    <div class='row'>
                        <div class='start required col-md-6'></div>
                        <div class='end required col-md-6'></div>
                    </div>
                    <div class='row'>
                        <div class='km col-md-6'></div>
                        <div class='business_link col-md-6'></div>
                    </div>
                </div>
            </main>
            <footer>
                <button
                        class='btn btn-primary'
                        type='submit'
                        value='submit'>
                    {{ button_title }}
                </button>
                <button
                        class='btn'
                        type='reset'
                        value='submit'>
                    Fermer
                </button>
            </footer>
        </div><!-- /.modal_layout -->
    </form>
</div><!-- /#expense-forms -->
