<td class="col_text">
  {{name}}
  <small>
    {{description}}
  </small>
</td>
<td class="col_actions width_one">
  <button
    type="button"
    class="btn icon only btn-view"
    title="Voir / Modifier le fichier"
    aria-label="Voir / Modifier le fichier"
  >
    <svg>
      <use href="/static/icons/endi.svg#pen"></use>
    </svg>
  </button>
</td>