<form autocomplete="off">
    <div role="dialog" id="category-modal" aria-modal="true" aria-labelledby="category-modal-title">
        <div class="modal_layout">
            <header>
                <button
                    class="icon only unstyled close" title="Fermer cette fenêtre" type='button'>
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
				<h2 id="category-modal-title">
					{{ title }} une catégorie
				</h2>
			</header>
			<main>
				<div class='field-title'></div>
				<div class='field-description'></div>
			</main>
			<footer>
				<button class='btn btn-primary icon' type='submit' value='insert'><svg><use href="/static/icons/endi.svg#save"></use></svg>{{ title }}
				</button>
				<button class='btn icon' type='reset' value='cancel'><svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
				</button>
			</footer>
        </div>
    </div>
</form>