<section class="modal_view size_large">
  <div
    role="dialog"
    id="work-forms"
    aria-modal="true"
    aria-labelledby="work-forms_title"
  >
    <form name="current" class="form layout">
      <div class="modal_layout">
        <header>
          <button
            class="icon only unstyled close"
            title="Fermer cette fenêtre"
            aria-label="Fermer cette fenêtre"
              type="button"
          >
            <svg><use href="/static/icons/endi.svg#times"></use></svg>
          </button>
          <h2 id="work-forms_title">
            Modifier un ouvrage
          </h2>
        </header>
        <main>
          <div class="errors"></div>
          <div class="content_vertical_padding">
            <fieldset>
              <div class="field-title"></div>
              <div class="field-description"></div>
              <div class="field-display_details"></div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field-margin_rate"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="field-quantity"></div>
                </div>
                <div class="col-md-6">
                  <div class="field-unity"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="field-tva_id"></div>
                </div>
                <div class="col-md-6">
                  <div class="field-product_id"></div>
                </div>
              </div>
            </fieldset>
          </div>
        </main>
        <footer>
          <button class="btn btn-primary icon" type="submit" value="submit">
            <svg>
              <use href="/static/icons/endi.svg#save"></use>
            </svg>
            Valider
          </button>
          <button class="btn" type="reset" value="cancel">
            Annuler
          </button>
        </footer>
      </div>
    </form>
  </div>
</section>