<section class="modal_view size_middle">
  <div
    role="dialog"
    id="product-forms"
    aria-modal="true"
    aria-labelledby="product-forms_title"
  >
    <div class="modal_layout">
      <header>
        <button
          class="icon only unstyled close"
          title="Fermer cette fenêtre"
          aria-label="Fermer cette fenêtre"
          type='button'
        >
          <svg><use href="/static/icons/endi.svg#times"></use></svg>
        </button>
        <h2 id="product-forms_title">
          {{title}}
        </h2>
      </header>
      {{#if add}}
      <nav>
        <ul class="nav nav-tabs modal-tabs" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#form-container"
              aria-controls="form-container"
              role="tab"
              data-toggle="tab"
              tabindex="-1"
            >
              Saisie libre
            </a>
          </li>
          <li role="presentation">
            <a
              href="#catalog-container"
              aria-controls="catalog-container"
              role="tab"
              tabindex="-1"
              data-toggle="tab"
            >
              Depuis le catalogue
            </a>
          </li>
        </ul>
      </nav>
      {{/if}}
      <main>
        <div class="tab-content">
          <div
            role="tabpanel"
            class="tab-pane fade in active"
            id="form-container"
          >
            <form class="form layout product-form">
              <div class="content_vertical_padding">
                <div class="errors"></div>
                <fieldset>
                  <div class="field-order"></div>
                  <div class="field-description"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-mode"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-supplier_ht"></div>
                      <div class="field-ht"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="field-margin_rate"></div>
                    </div>
                  </div>
                  <div class="field-quantity_inherited"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="field-work_unit_quantity"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="field-unity"></div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="layout flex">
                <div role="group">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    value="submit"
                  >
                    {{title}}
                  </button>
                  <button
                    class="btn"
                    type="reset"
                    value="submit"
                  >
                    Annuler
                  </button>
                </div>
              </div>
            </form>
          </div>
          {{#if add}}
          <div role="tabpanel" class="tab-pane" id="catalog-container"></div>
          {{/if}}
        </div>
      </main>
    </div>
  </div>
</section>
